body {
    font-family: Arial;
    padding-top: 50px;
}


.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}